@font-face {
    font-family: 'wisdom_scriptregular';
    src: url('../fonts/wisdom/wisdom_script_aj-webfont.eot');
    src: url('../fonts/wisdom/wisdom_script_aj-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/wisdom/wisdom_script_aj-webfont.woff') format('woff'),
         url('../fonts/wisdom/wisdom_script_aj-webfont.ttf') format('truetype'),
         url('../fonts/wisdom/wisdom_script_aj-webfont.svg#wisdom_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$wisdom: 'wisdom_scriptregular', Helvetica, Arial, sans-serif;
$tahoma: Tahoma, Geneva, Verdana;
