html, body {
  font-size: 100% !important;
}

body {
  background: #F9FFFF;
}

.container {
  max-width: 50rem;
}

.input-group-addon {
  background: #fafeff;
  border: none;
  border-left: 1px solid #ddd !important;
}

.submit-form {
width: 100%;
}
