html, body {
  font-size: 100% !important;
}

body {
  background: #F9FFFF;
}

.container {
  max-width: 50rem;
}

.input-group-addon {
  background: #fafeff;
  border: none;
  border-left: 1px solid #ddd !important;
}

.submit-form {
width: 100%;
}

.disable-hover {
  pointer-events: none;
}

.legacy {
  display: none;
  padding: 3em;
}

.lt-ie9 {
  .app-container {
    display: none;
  }
  .legacy {
    display: block;
  }
}

.ie9, .lt-ie9 {
  .people label {
    display: block;
  }
}

.form-control {
  border: none;
  outline: none;
  box-shadow: none;

  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
}
