.details {
  background-image: url('../img/details.jpg');
  background-repeat: repeat;

  .form-group {
    margin-bottom: 1em;
  }
}

.details__form {
  @include clearfix;
  margin: 1.2em 0;
}

.event__label {
  color: #fafeff;
  font-family: $tahoma;
  font-size: .9em;
  text-transform: uppercase;
  font-weight: bold;
}
.event__input {
  outline: none;
  border: none;
}

.event__input--textarea {
  font-family: $tahoma;
  color: #555;
  height: 7.5em !important;
  resize: none;
  border: none;
  box-shadow: none;
  outline: none;

  &:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
}

.event__label--name {
  display: none;
}

.event__input--name {
  @include placeholder {
    @include opacity(.5);
    color: #fafeff;
  }
  border: none;
  border-bottom: 2px solid #fafeff;
  border-radius: 0;
  background: none;
  box-shadow: none;
  color: #fafeff;
  font-family: $tahoma;
  font-weight: bold;
  font-size: 1.8em;
  height: 1.8em;
  margin: 0 auto .5em auto;
  outline: none;
  text-align: center;
  text-transform: uppercase;

  &:focus {
    @include placeholder {
      color: transparent;
    }
    border-bottom: 2px solid #fafeff;
    box-shadow: none;
    outline: none;
  }
}

.btn--calendar {
  border: none;
  border-radius: 0;
  background: #fafeff;
}
