.footer {
  background: #131313;
  padding: 2em 0;

  @media (min-width: $screen-sm-min) {
    padding: 3em 0;
  }
}

.credit {
  text-align: center;

  &.joris {
    padding-bottom: 2em;

    @media (min-width: $screen-sm-min) {
      padding-bottom: 0;
    }
  }
}

.credit__author {
  color: #FFF;
  font-family: $wisdom;
  font-size: 2em;
}

.credit__skill {
  color: #B72727;
  font-family: $tahoma;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.social {
  margin: 0;
  padding: 0;
}

.social__item {
  display: inline;
}

.social__icon {
  @include transition(top .1s ease-in-out);
  color: #d7d7d7;
  background: #131313;
  display: inline-block;
  font-size: 2em;
  margin: 0 .15rem;
  position: relative;

  &:hover {
    @include transition(top .1s ease-in-out);
    top: -.1em;
  }
}

.social-shares {
  margin-top: 2em;
  text-align: center;
}

.social-shares__toolbox {
  display: inline-block;
  margin: 0 auto;
}
