.memo {
  background: #fafeff;
  color: #515151;
  font-family: $wisdom;
  font-size: 1.8em;
  margin: 0;
  padding: 1em 0;

  @media (min-width: $screen-sm-min) {
    background-image: url('../img/paper.jpg');
    background-repeat: repeat;
    line-height: 1.63em;
    padding: 1.5em 0;
  }
}

.headline {
  color: #b72828;
  display: block;
}
