.animate-enter {
  @include transition(.5s linear all);
  opacity: 0;

  &.animate-enter-active {
    opacity: 1;
  }
}

.animate-leave {
  @include transition(.5s linear all);
  opacity: 1;

  &.animate-enter-active {
    opacity: 0;
  }
}

.people {
  background: #eef0ef;
}

.person__form {
  margin: 1.2em 0;
}

.people__title {
  color: #b72727;
  font-family: $tahoma;
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
}

.people__label {
  display: none;
}

.people__input {
  @include placeholder {
    color: #9A9A9A;
  }
  background: #fafeff;
  border: none;
  border-radius: .4em;
  font-family: $tahoma;
  margin: .5em 0;
  text-transform: uppercase;

  &:focus {
    box-shadow: none;
    border: none;
    outline: none;
  }
}

.people__button--add {
  @include transition(all .3s);
  background-color: #b82929 !important;
  box-shadow: none;
  color: #fafeff;
  margin: .5em 0;
  &[disabled] {
    @include opacity(.65);
  }

  &:focus {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
  }

  .icon--add {
    @include transition(all .3s);
    font-size: 1.2em;
  }

  @media (min-width: $screen-sm-min) {
    background-color: transparent !important;
    border: none;
    border-radius: 50%;
    position: relative;
    top: -.1em;
    height: auto;
    width: 4em;

    .icon--add {
      color: #b82929;
      font-size: 2em;
    }
  }
}

.people__button--remove {
  @include transition(all .3s);
  background-color: #b82929 !important;
  box-shadow: none;
  color: #fafeff;
  margin: .2em 0 1.2em 0;
  width: 100%;

  &:focus {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
  }

  .icon--remove {
    @include transition(all .3s);
    font-size: 1.2em;
    font-weight: bold;
  }

  @media (min-width: $screen-sm-min) {
    background-color: transparent !important;
    border: none;
    border-radius: 50%;
    position: relative;
    top: -.3em;
    width: auto;

    .icon--remove {
      color: #b82929;
      font-size: 1.4em;
    }
  }
}

.added-people {
  margin-top: 2em;
}

.added-person__button-wrap {
  @media (min-width: $screen-sm-min) {
    padding-left: .2em;
  }
}

.added-person__icon {
  // display: none;
  &.icon--error {
    color: #b72727;
  }

  &.icon--okay {
    color: #75B727;
  }
}

.added-person {
  font-family: $tahoma;
  font-weight: bold;
  font-size: .8em;
  text-transform: uppercase;
  margin: 0;
  padding: 0 15px;
  display: inline-block;

  @media (min-width: $screen-sm-min) {
    padding-left: 0!important;
    font-size: 1.3rem;
  }
}

.added-person__name {
  color: #b72828
}
.added-person__email {
  color: #671717;
  word-break: break-word;

  @media (min-width: $screen-sm-min) {
    font-size: 1.3rem;
  }
}


.submit {
  @include clearfix;
  @include transition(all .5s);
  background-image: url('../img/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 80%;
  height: 6em;

  @media (min-width: $screen-sm-min) {
    background-position: 0 65%;
  }

  > .container {
    height: 6em;
  }
}

.submit__btn-submit {
  @include transition(all .5s);
  background: none;
  border: none;
  color: #fafeff;
  display: block;
  font-family: $tahoma;
  font-weight: bold;
  font-size: 1em;
  height: 100%;
  outline: none;
  text-transform: uppercase;
  width: 100%;

  &[disabled] {
    @include transition(all, .3s);
    @include opacity(.25);
    cursor: not-allowed;
  }

  @media (min-width: $screen-sm-min) {
    font-size: 2em;
  }
}

.add {
  @media (min-width: $screen-sm-min) {
    padding-left: 30px;
  }
  @media (min-width: $screen-md-min) {
    padding: 0 !important;
    position: relative;
    left: -20px;
  }
}
